
		<style>
		@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro&display=swap');
		</style>
    
    <table border="0" cellpadding="0" cellspacing="0" style="width: 600px;">
    	<tr>
    	  <td>
          	<table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto; width: 546px; border-bottom: 1px solid #7D828F; padding-bottom: 5px;">
            	<tr>
                	<td style="width: 438px;">
                    	<span style="margin: 11px 0 0 5px; display:block; color: #BD7868; font-size: 25px; line-height: 25px; font-family: 'Source Sans Pro', sans-serif;">Bruno<br> Alcantara</span>
	                	<span style="margin: 5px; display:block; font-family: 'Playfair Display', serif; font-size: 13px; color: #444C5F;">Business Development | Marketing</span>
                    </td>
                    <td style="width: 108px;">
                    	<a href="https://veeet.com.br/" target="_blank">
                    		<img style="display: inline-block; margin: -11px 0 0 8px;" src="https://veeet.com.br/image/assinatura_email/veeet.png">
                    	</a>
                    </td>
                </tr>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto; width: 540px; padding: 4px 0 15px 0;">
            	<tr>
                	<td style="width: 435px;">
                    	<img style="position: relative; top: 2px;" src="https://veeet.com.br/image/assinatura_email/phone-portrait-outline.png">
                    	<span style="color: #444C5F; margin-left: -4px; font-family: 'Source Sans Pro', sans-serif; font-size: 16px;">+55 11 998 555 579</span>
                    </td>
                    <td style="width: 105px; text-align: right;">
                    	<a style="color: #444C5F; text-decoration: none; font-family: 'Source Sans Pro', sans-serif; font-size: 16px;" href="https://veeet.com.br/" target="_blank">veeet.com.br</a>
                    </td>
              </tr>
            </table>
          </td>
  	  </tr>
    	<tr>
        	<td>
            	<table border="0" cellpadding="0" cellspacing="0">
	            	<tr>
						<td style="width: 468px; height: 16px; background: #444C5F;">&nbsp;</td>
						<td style="width: 132px; height: 16px; background: #BD7868;">&nbsp;</td>
					</tr>
            	</table>
            </td>
        </tr>
	</table>